@model StudentGymKOI.Models.Membership

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Membership</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberShipName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberShipName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Gym Staff"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.MembershipID">Edit</a>
    }
    @if (User.IsInRole("Member"))
    {
        @if (ViewBag.UserMembership == null || ViewBag.UserMembership.MemberShipName != Model?.MemberShipName)
        {
            
            <a asp-controller="UserMembership" asp-action="JoinMembership" asp-route-membershipID="@Model?.MembershipID">Join</a>
        }
        else
        {
            <span>Joined.</span>
            <a asp-controller="UserMembership" asp-action="LeaveMembership" asp-route-membershipID="@Model?.MembershipID">Leave</a>
        }
    }
     <a asp-action="Index">Back to List</a>
</div>
